Repository snanapaneni/NJH-Replatform: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipeline-mvc.yml, azure-pipelines-cms.yml

azure-pipeline-mvc.yml:

# MVC site pipeline

pool:
  name: Azure Pipelines
  vmImage: "windows-latest"

trigger:
  branches:
    include:
      - develop
  paths:
    exclude:
      - Njh_Site
      - Njh_Shared

steps:
  # - task: UseNode@1
  #   displayName: "Use Node"
  #   inputs:
  #     version: "18.12.1"
  #     checkLatest: true

  # - task: Npm@1
  #   displayName: "npm install"
  #   inputs:
  #     workingDir: "Njh_Site/Njh/src"
  #     verbose: true
  #   enabled: true

  # - task: Npm@1
  #   displayName: "npm build"
  #   inputs:
  #     command: custom
  #     workingDir: "Njh_Site/Njh/src"
  #     verbose: true
  #     customCommand: "run build"
  #   enabled: true

  - task: UseDotNet@2
    displayName: "Use .NET Core sdk"
    inputs:
      packageType: "sdk"
      version: "6.0.x"

  - task: DotNetCoreCLI@2
    displayName: Restore
    inputs:
      command: restore
      projects: "**/Njh.csproj"

  - task: DotNetCoreCLI@2
    displayName: Build
    inputs:
      projects: "**/Njh.csproj"
      arguments: "--configuration $(BuildConfiguration) --no-restore "

  - task: DotNetCoreCLI@2
    displayName: Publish
    inputs:
      command: publish
      publishWebProjects: false
      projects: "**/Njh.csproj"
      arguments: "--configuration $(BuildConfiguration) --no-restore --no-build --output $(Build.ArtifactStagingDirectory)"

  - task: PublishBuildArtifacts@1
    displayName: Publish Artifacts
    inputs:
      PathtoPublish: "$(Build.ArtifactStagingDirectory)"
      ArtifactName: "drop"
      publishLocation: "Container"

azure-pipelines-cms.yml:

# Pipeline for the CMS.

pool:
  name: Azure Pipelines
  vmImage: "windows-2022"

trigger:
  branches:
    include:
      - develop
  batch: true
  paths:
    include:
      - Njh_Admin
      - Njh_Shared

variables:
  DOTNET_CLI_TELEMETRY_OPTOUT: "1"

  # disable the coverage autogeneration
  disable.coverage.autogenerate: "true"

  cmsSolution: "**/Njh_Admin.sln"
  buildPlatform: "Any CPU"
  buildConfiguration: "Release"

  # major version
  Version.Major: 0

  # minor version follows the sprint number
  Version.Minor: 7

  # revision
  Version.Revision: $[counter(variables['Version.Minor'], 0)]

  # version number
  Version.Number: cms-$(Version.Major).$(Version.Minor).$(Version.Revision)

steps:
  - task: NuGetToolInstaller@1

  - task: NuGetCommand@2
    displayName: "NuGet restore"
    inputs:
      restoreSolution: "**/Njh_Admin.sln"
      feedsToUse: config
      nugetConfigPath: NuGet.config
      externalFeedCredentials: "reason-one-feed"
      restoreDirectory: '..\..\packages\'

  - task: VSBuild@1
    inputs:
      solution: "**/Njh_Admin.sln"
      msbuildArgs: '/p:DeployOnBuild=true /p:WebPublishMethod=Package /p:PackageAsSingleFile=true /p:SkipInvalidConfigurations=true /p:PackageLocation="$(build.artifactStagingDirectory)" /p:SourceRevisionId="$(Version.Number)"'
      platform: "$(buildPlatform)"
      configuration: "$(buildConfiguration)"

  - task: PublishBuildArtifacts@1
    displayName: "Publish Artifact"
    inputs:
      PathtoPublish: "$(build.artifactstagingdirectory)"
    condition: succeededOrFailed()

pipeline: updated restore command
  azure-pipelines-cms.yml
Due: azure-pipeline-mvc.yml

removed Dancing Goat media
  Njh_Admin/CMS/CMSApp.csproj
Due: azure-pipeline-mvc.yml, azure-pipelines-cms.yml

added stop words and synonyms
  Njh_Admin/CMS/App_Data/CMSModules/SmartSearch/_StopWords/ar.txt
  Njh_Admin/CMS/App_Data/CMSModules/SmartSearch/_StopWords/cs.txt
  Njh_Admin/CMS/App_Data/CMSModules/SmartSearch/_StopWords/de.txt
  Njh_Admin/CMS/App_Data/CMSModules/SmartSearch/_StopWords/es.txt
  Njh_Admin/CMS/App_Data/CMSModules/SmartSearch/_StopWords/fr.txt
  Njh_Admin/CMS/App_Data/CMSModules/SmartSearch/_StopWords/it.txt
  Njh_Admin/CMS/App_Data/CMSModules/SmartSearch/_StopWords/nl.txt
  Njh_Admin/CMS/App_Data/CMSModules/SmartSearch/_StopWords/pl.txt
  Njh_Admin/CMS/App_Data/CMSModules/SmartSearch/_StopWords/pt.txt
  Njh_Admin/CMS/App_Data/CMSModules/SmartSearch/_StopWords/ru.txt
  Njh_Admin/CMS/App_Data/CMSModules/SmartSearch/_StopWords/sv.txt
  Njh_Admin/CMS/App_Data/CMSModules/SmartSearch/_Synonyms/en.zip
Due: azure-pipeline-mvc.yml, azure-pipelines-cms.yml

updated pipeline and gitignore
  .gitignore
  azure-pipeline-mvc.yml
  azure-pipelines-cms.yml
Due: azure-pipeline-mvc.yml

added web.config transformation
  Njh_Admin/CMS/CMSApp.csproj
  Njh_Admin/CMS/Web.QA.config
  Njh_Admin/CMS/Web.Stage.config
Due: azure-pipeline-mvc.yml, azure-pipelines-cms.yml

updates to web.config and transform files
  Njh_Admin/CMS/Web.QA.config
  Njh_Admin/CMS/Web.Stage.config
  Njh_Admin/CMS/web.config
Due: azure-pipeline-mvc.yml, azure-pipelines-cms.yml

Add cross domain support for admin and MVC
  Njh_Site/Njh/Startup.cs
Due: none

remove samesitenone
  Njh_Site/Njh/Startup.cs
Due: none

Add samesitenone cookie setting
  Njh_Site/Njh/Startup.cs
Due: none

readd multisite domain setting
  Njh_Site/Njh/Startup.cs
Due: none

rename project Njh to Njh.Mvc
  Njh_Site/Njh.Mvc/Views/Shared/Error.cshtml
Due: none

update pipeline for the project name change
  azure-pipeline-mvc.yml
Due: azure-pipeline-mvc.yml

update namespace
  Njh_Site/Njh.Mvc/Views/_ViewImports.cshtml
Due: none

Add FED build steps to pipeline, Add sample template
  Njh_Shared/Njh.Kernel/Class1.cs
  Njh_Shared/Njh.Kernel/Njh.Kernel.csproj
  Njh_Site/Njh.Mvc.SourceGenerators/HashMappingSourceGenerator.cs
  Njh_Site/Njh.Mvc.SourceGenerators/Njh.Mvc.SourceGenerators.csproj
  Njh_Site/Njh.Mvc/Controllers/BaseController.cs
  Njh_Site/Njh.Mvc/Controllers/HomeController.cs
  Njh_Site/Njh.Mvc/Controllers/PageTemplateRegister.cs
  Njh_Site/Njh.Mvc/Njh.Mvc.csproj
  Njh_Site/Njh.Mvc/PageTemplates/LandingPage/LandingPageProperties.cs
  Njh_Site/Njh.Mvc/PageTemplates/LandingPage/_LandingPageTemplate.cshtml
  Njh_Site/Njh.Mvc/Properties/launchSettings.json
  Njh_Site/Njh.Mvc/Startup.cs
  Njh_Site/Njh.Mvc/Views/Home/Index.cshtml
  Njh_Site/Njh.Mvc/Views/Shared/_Layout.cshtml
  Njh_Site/Njh.sln
  azure-pipeline-mvc.yml
Due: azure-pipeline-mvc.yml, azure-pipelines-cms.yml

Fixed src path
  azure-pipeline-mvc.yml
Due: azure-pipeline-mvc.yml

Set Kernel project not to publish
  Njh_Shared/Njh.Kernel/Njh.Kernel.csproj
Due: azure-pipelines-cms.yml

Add initial-setup as trigger build branch
  azure-pipeline-mvc.yml
Due: azure-pipeline-mvc.yml

Add page builder styles
  Njh_Site/Njh.Mvc/Views/Shared/_Layout.cshtml
Due: none

Add REsonOne Dependency nuget, and bootstrap references removal
  Njh_Shared/Njh.Kernel/Definitions/GlobalConstants.cs
  Njh_Shared/Njh.Kernel/Models/ContextConfig.cs
  Njh_Shared/Njh.Kernel/Repositories/IRepository.cs
  Njh_Shared/Njh.Kernel/Services/IService.cs
  Njh_Shared/Njh.Kernel/Services/ISettingsKeyRepository.cs
  Njh_Shared/Njh.Kernel/Services/ServiceBase.cs
  Njh_Shared/Njh.Kernel/Services/SettingsKeyRepository.cs
  Njh_Site/Njh.Mvc/Controllers/BaseController.cs
  Njh_Site/Njh.Mvc/Infrastructure/MvcBootstrapItem.cs
  Njh_Site/Njh.Mvc/Njh.Mvc.csproj
  Njh_Site/Njh.Mvc/Views/Shared/_Layout.cshtml
Due: azure-pipelines-cms.yml

Update to Autofac configuration and fixed IIS express config
  Njh_Site/Njh.Mvc/Njh.Mvc.csproj
  Njh_Site/Njh.Mvc/Program.cs
  Njh_Site/Njh.Mvc/Startup.cs
Due: none

Update azure-pipeline-mvc.yml for Azure Pipelines
  azure-pipeline-mvc.yml
Due: azure-pipeline-mvc.yml

Add read.me, adjust buttons
  Njh_Site/Njh.Mvc/src/readme.md
  Njh_Site/Njh.Mvc/src/static/components/elements--backgrounds.html
  Njh_Site/Njh.Mvc/src/static/components/elements--buttons.html
  Njh_Site/Njh.Mvc/src/static/components/elements--colors.html
  Njh_Site/Njh.Mvc/src/static/components/elements--table.html
  Njh_Site/Njh.Mvc/src/static/components/elements--typography.html
  Njh_Site/Njh.Mvc/src/static/elements.html
  Njh_Site/Njh.Mvc/src/styles/elements/_buttons.scss
  Njh_Site/Njh.Mvc/wwwroot/dist/app.50df64074efcb515dee5.css
  Njh_Site/Njh.Mvc/wwwroot/dist/app.9b9164b3c95f166ae99b.css
  Njh_Site/Njh.Mvc/wwwroot/dist/elements.html
  Njh_Site/Njh.Mvc/wwwroot/dist/index.html
Due: none

Desktop Navigation WIP
  Njh_Site/Njh.Mvc/src/.prettierignore
  Njh_Site/Njh.Mvc/src/images/logo.png
  Njh_Site/Njh.Mvc/src/images/magnifying-glass-solid.svg
  Njh_Site/Njh.Mvc/src/js/app.js
  Njh_Site/Njh.Mvc/src/js/components/app-header.js
  Njh_Site/Njh.Mvc/src/postcss.config.js
  Njh_Site/Njh.Mvc/src/readme.md
  Njh_Site/Njh.Mvc/src/static/app-header.html
  Njh_Site/Njh.Mvc/src/static/index.html
  Njh_Site/Njh.Mvc/src/styles/_app-header.scss
  Njh_Site/Njh.Mvc/src/styles/_app-main.scss
  Njh_Site/Njh.Mvc/src/styles/_global.scss
  Njh_Site/Njh.Mvc/src/styles/_themes.scss
  Njh_Site/Njh.Mvc/src/styles/_variables.scss
  Njh_Site/Njh.Mvc/src/styles/app.scss
  Njh_Site/Njh.Mvc/src/styles/elements/_buttons.scss
  Njh_Site/Njh.Mvc/src/styles/elements/_icons.scss
  Njh_Site/Njh.Mvc/src/styles/mixins/_buttons.scss
  Njh_Site/Njh.Mvc/src/styles/mixins/_globals.scss
  Njh_Site/Njh.Mvc/wwwroot/.DS_Store
  Njh_Site/Njh.Mvc/wwwroot/dist/app.18243da7c26a47a0698c.js
  Njh_Site/Njh.Mvc/wwwroot/dist/app.5d0e00e19111e3826817.js
  Njh_Site/Njh.Mvc/wwwroot/dist/app.9b9164b3c95f166ae99b.css
  Njh_Site/Njh.Mvc/wwwroot/dist/app.a0e34922c9e008e673cb.css
  Njh_Site/Njh.Mvc/wwwroot/dist/elements.html
  Njh_Site/Njh.Mvc/wwwroot/dist/index.html
Due: none

Copy custom MultipleChoiceListBoxes form control from old site, for use e.g. in NJH Page page type
  Njh_Admin/CMS/CMSApp.csproj
  Njh_Admin/CMS/NJH/FormControls/MultipleChoiceListBoxes.ascx
  Njh_Admin/CMS/NJH/FormControls/MultipleChoiceListBoxes.ascx.cs
  Njh_Admin/CMS/NJH/FormControls/MultipleChoiceListBoxes.ascx.designer.cs
Due: azure-pipeline-mvc.yml, azure-pipelines-cms.yml

Mobile and Desktop Nav FED Complete
  Njh_Site/Njh.Mvc/src/js/components/app-header.js
  Njh_Site/Njh.Mvc/src/static/app-header.html
  Njh_Site/Njh.Mvc/src/static/components/search.html
  Njh_Site/Njh.Mvc/src/static/elements.html
  Njh_Site/Njh.Mvc/src/styles/_app-header.scss
  Njh_Site/Njh.Mvc/src/styles/_breakpoint-helper.scss
  Njh_Site/Njh.Mvc/src/styles/_global.scss
  Njh_Site/Njh.Mvc/src/styles/_variables.scss
  Njh_Site/Njh.Mvc/wwwroot/dist/app.385e7d9fd061710adc35.css
  Njh_Site/Njh.Mvc/wwwroot/dist/app.a420170bf2b572a65662.js
  Njh_Site/Njh.Mvc/wwwroot/dist/app.d8f7e3ea2ac011a44edc.css
  Njh_Site/Njh.Mvc/wwwroot/dist/app.faa43087361da26afed8.js
  Njh_Site/Njh.Mvc/wwwroot/dist/elements.html
  Njh_Site/Njh.Mvc/wwwroot/dist/index.html
Due: none

App Header clean up and Prettier formatted
  Njh_Site/Njh.Mvc/src/.prettierignore
  Njh_Site/Njh.Mvc/src/js/components/app-header.js
  Njh_Site/Njh.Mvc/src/styles/_global.scss
  Njh_Site/Njh.Mvc/wwwroot/dist/app.1400114a9ab35e938240.js
  Njh_Site/Njh.Mvc/wwwroot/dist/app.5605d2b6ed8653e1657a.css
  Njh_Site/Njh.Mvc/wwwroot/dist/app.d8f7e3ea2ac011a44edc.css
  Njh_Site/Njh.Mvc/wwwroot/dist/app.faa43087361da26afed8.js
  Njh_Site/Njh.Mvc/wwwroot/dist/elements.html
  Njh_Site/Njh.Mvc/wwwroot/dist/index.html
Due: none

Minor tweak to container structure in mobile nav to be more consistent with each other.
  Njh_Site/Njh.Mvc/src/static/app-header.html
  Njh_Site/Njh.Mvc/wwwroot/dist/elements.html
  Njh_Site/Njh.Mvc/wwwroot/dist/index.html
Due: none

WIP Subpage template (Left rail)
  Njh_Site/Njh.Mvc/src/config/webpack/dev-hashed.js
  Njh_Site/Njh.Mvc/src/js/template-subpage-left-rail.html
  Njh_Site/Njh.Mvc/src/static/components/_config.js
  Njh_Site/Njh.Mvc/src/static/components/subpage-aside.html
  Njh_Site/Njh.Mvc/src/static/components/subpage-content.html
  Njh_Site/Njh.Mvc/src/static/components/subpage-cta.html
  Njh_Site/Njh.Mvc/src/static/components/subpage-header.html
  Njh_Site/Njh.Mvc/src/static/elements.html
  Njh_Site/Njh.Mvc/src/static/template-subpage-left-rail.html
  Njh_Site/Njh.Mvc/src/styles/_app-main.scss
  Njh_Site/Njh.Mvc/src/styles/app.scss
  Njh_Site/Njh.Mvc/src/styles/components/_separated-list.scss
  Njh_Site/Njh.Mvc/src/styles/elements/_headings.scss
  Njh_Site/Njh.Mvc/src/styles/templates/_subpage.scss
  Njh_Site/Njh.Mvc/wwwroot/dist/app.38ede2e8a6a760a0ffce.css
  Njh_Site/Njh.Mvc/wwwroot/dist/app.5605d2b6ed8653e1657a.css
  Njh_Site/Njh.Mvc/wwwroot/dist/elements.html
  Njh_Site/Njh.Mvc/wwwroot/dist/template-subpage-left-rail.html
Due: none

FED Complete - Added Subpage Left Rail
  Njh_Site/Njh.Mvc/src/config/webpack/dev.js
  Njh_Site/Njh.Mvc/src/js/components/app-header.js
  Njh_Site/Njh.Mvc/src/static/components/_config.js
  Njh_Site/Njh.Mvc/src/static/components/subpage-aside.html
  Njh_Site/Njh.Mvc/src/static/components/subpage-content.html
  Njh_Site/Njh.Mvc/src/static/components/subpage-cta.html
  Njh_Site/Njh.Mvc/src/static/subpage__left-rail.html
  Njh_Site/Njh.Mvc/src/styles/app.scss
  Njh_Site/Njh.Mvc/src/styles/components/_page-blurb.scss
  Njh_Site/Njh.Mvc/src/styles/templates/_subpage.scss
  Njh_Site/Njh.Mvc/wwwroot/dist/app.0ca879bb38eab8f972d3.css
  Njh_Site/Njh.Mvc/wwwroot/dist/app.1400114a9ab35e938240.js
  Njh_Site/Njh.Mvc/wwwroot/dist/app.38ede2e8a6a760a0ffce.css
  Njh_Site/Njh.Mvc/wwwroot/dist/app.8c726f66b7bd6472963d.js
  Njh_Site/Njh.Mvc/wwwroot/dist/elements.html
  Njh_Site/Njh.Mvc/wwwroot/dist/index.html
  Njh_Site/Njh.Mvc/wwwroot/dist/subpage__left-rail.html
Due: none

Rework subpage containers for no-rail
  Njh_Site/Njh.Mvc/src/static/app-header.html
  Njh_Site/Njh.Mvc/src/static/components/_config.js
  Njh_Site/Njh.Mvc/src/static/components/elements--backgrounds.html
  Njh_Site/Njh.Mvc/src/static/components/subpage-aside.html
  Njh_Site/Njh.Mvc/src/static/components/subpage-content.html
  Njh_Site/Njh.Mvc/src/static/components/subpage-cta.html
  Njh_Site/Njh.Mvc/src/static/components/subpage-header.html
  Njh_Site/Njh.Mvc/src/static/subpage__no-rail.html
  Njh_Site/Njh.Mvc/src/styles/app.scss
  Njh_Site/Njh.Mvc/src/styles/components/_tabs.scss
  Njh_Site/Njh.Mvc/src/styles/mixins/_globals.scss
  Njh_Site/Njh.Mvc/src/styles/templates/_subpage.scss
  Njh_Site/Njh.Mvc/wwwroot/dist/app.0ca879bb38eab8f972d3.css
  Njh_Site/Njh.Mvc/wwwroot/dist/app.5015cdc323d6cf9f7f81.css
  Njh_Site/Njh.Mvc/wwwroot/dist/elements.html
  Njh_Site/Njh.Mvc/wwwroot/dist/index.html
  Njh_Site/Njh.Mvc/wwwroot/dist/subpage__no-rail.html
Due: none

Bring in subpage updates from 310
  Njh_Site/Njh.Mvc/src/static/app-header.html
  Njh_Site/Njh.Mvc/src/static/components/_config.js
  Njh_Site/Njh.Mvc/src/static/components/elements--backgrounds.html
  Njh_Site/Njh.Mvc/src/static/components/subpage-aside.html
  Njh_Site/Njh.Mvc/src/static/components/subpage-content.html
  Njh_Site/Njh.Mvc/src/static/components/subpage-cta.html
  Njh_Site/Njh.Mvc/src/static/components/subpage-header.html
  Njh_Site/Njh.Mvc/src/static/subpage__no-rail.html
  Njh_Site/Njh.Mvc/src/styles/app.scss
  Njh_Site/Njh.Mvc/src/styles/components/_tabs.scss
  Njh_Site/Njh.Mvc/src/styles/mixins/_globals.scss
  Njh_Site/Njh.Mvc/src/styles/templates/_subpage.scss
  Njh_Site/Njh.Mvc/wwwroot/dist/app.0ca879bb38eab8f972d3.css
  Njh_Site/Njh.Mvc/wwwroot/dist/app.80d2eea2f4801fefecff.css
  Njh_Site/Njh.Mvc/wwwroot/dist/elements.html
  Njh_Site/Njh.Mvc/wwwroot/dist/index.html
  Njh_Site/Njh.Mvc/wwwroot/dist/subpage__no-rail.html
Due: none

WIP FED Widget Zone and Theme implementation
  Njh_Site/Njh.Mvc/src/config/webpack/dev-hashed.js
  Njh_Site/Njh.Mvc/src/static/app-header.html
  Njh_Site/Njh.Mvc/src/static/components/_config.js
  Njh_Site/Njh.Mvc/src/static/components/subpage-content.html
  Njh_Site/Njh.Mvc/src/static/components/subpage-header.html
  Njh_Site/Njh.Mvc/src/static/components/widget-zone.html
  Njh_Site/Njh.Mvc/src/static/widget-zones.html
  Njh_Site/Njh.Mvc/src/styles/app.scss
  Njh_Site/Njh.Mvc/src/styles/components/_page-blurb.scss
  Njh_Site/Njh.Mvc/src/styles/components/_rich-text.scss
  Njh_Site/Njh.Mvc/src/styles/components/_widget-zone.scss
  Njh_Site/Njh.Mvc/src/styles/elements/_backgrounds.scss
  Njh_Site/Njh.Mvc/src/styles/mixins/_backgrounds.scss
  Njh_Site/Njh.Mvc/src/styles/templates/_subpage.scss
  Njh_Site/Njh.Mvc/wwwroot/dist/app.5015cdc323d6cf9f7f81.css
  Njh_Site/Njh.Mvc/wwwroot/dist/app.a32e62b4a42508084d3f.css
  Njh_Site/Njh.Mvc/wwwroot/dist/elements.html
  Njh_Site/Njh.Mvc/wwwroot/dist/index.html
  Njh_Site/Njh.Mvc/wwwroot/dist/subpage__left-rail.html
  Njh_Site/Njh.Mvc/wwwroot/dist/widget-zones.html
Due: none

NJHK13-346 backend: update Master Template per FE designs. TODO add active components for header navs (desktop and mobile), footer component, etc.
  Njh_Site/Njh.Mvc/Views/Shared/_Layout.cshtml
Due: none

exclude MacOS DS_Store files
  .gitignore
Due: azure-pipeline-mvc.yml
