Repository snanapaneni/NJH-Replatform: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipeline-mvc.yml, azure-pipelines-cms.yml

azure-pipeline-mvc.yml:
  pool:
    name: Azure Pipelines
    vmImage: windows-latest
  steps:
  - task: UseNode@1
    displayName: Use Node
    inputs:
      version: 18.12.1
      checkLatest: true
  - task: Npm@1
    displayName: npm install
    inputs:
      workingDir: Njh_Site/Njh.Mvc/src
      verbose: true
    enabled: true
  - task: Npm@1
  ...

azure-pipelines-cms.yml:
  pool:
    name: Azure Pipelines
    vmImage: windows-2022
  steps:
  - task: NuGetToolInstaller@1
  - task: NuGetCommand@2
    displayName: NuGet restore
    inputs:
      restoreSolution: '**/Njh_Admin.sln'
      feedsToUse: config
      nugetConfigPath: NuGet.config
      externalFeedCredentials: reason-one-feed
  ...

remove MacOS DS_Store files that crept in
  Njh_Site/.DS_Store
  Njh_Site/._.DS_Store
Due: azure-pipeline-mvc.yml

Sections: update to use SafeView class. Set default section. Add default section
  Njh_Shared/Njh.Kernel/Services/SectionThemeService.cs
  Njh_Site/Njh.Mvc/Components/ComponentRegister.cs
  Njh_Site/Njh.Mvc/Components/Sections/FourColumn/FourColumnSectionViewComponent.cs
  Njh_Site/Njh.Mvc/Components/Sections/OneColumn/OneColumnSectionViewComponent.cs
  Njh_Site/Njh.Mvc/Components/Sections/OneColumnFullWidth/OneColumnFullWidthSectionViewComponent.cs
  Njh_Site/Njh.Mvc/Components/Sections/ThreeColumn/ThreeColumnSectionViewComponent.cs
  Njh_Site/Njh.Mvc/Components/Sections/TwoColumn5050/TwoColumn5050SectionViewComponent.cs
  Njh_Site/Njh.Mvc/Components/Sections/TwoColumn6733/TwoColumn6733SectionViewComponent.cs
  Njh_Site/Njh.Mvc/Components/Sections/TwoColumn7525/TwoColumn7525SectionViewComponent.cs
  Njh_Site/Njh.Mvc/Models/Constants/IconConstants.cs
  Njh_Site/Njh.Mvc/Njh.Mvc.csproj
  Njh_Site/Njh.Mvc/PageTemplates/LandingPage/_LandingPageTemplate.cshtml
  Njh_Site/Njh.Mvc/Startup.cs
  Njh_Site/Njh.Mvc/Views/Shared/SafeViewComponentError.cshtml
  Njh_Site/Njh.Mvc/Views/Shared/_Layout.cshtml
  Njh_Site/Njh.Mvc/wwwroot/Content/FormComponents/select2.full.min.js
Due: azure-pipeline-mvc.yml, azure-pipelines-cms.yml

NJHK13-346: remove web.config
  Njh_Site/web.config
Due: azure-pipeline-mvc.yml

NJHK13-375: Updated ckeditor toolbar and add button styles
  Njh_Admin/CMS/CMSAdminControls/CKeditor/config.js
  Njh_Admin/CMS/CMSAdminControls/CKeditor/styles.js
Due: azure-pipelines-cms.yml

Update comments
  Njh_Shared/Njh.Kernel/Constants/DataCacheKeys.cs
  Njh_Shared/Njh.Kernel/Constants/DummyCacheKeys.cs
Due: azure-pipeline-mvc.yml, azure-pipelines-cms.yml

page title logic
  Njh_Site/Njh.Mvc/Views/Shared/PageTemplates/SubpageLeftNavTemplate.cshtml
Due: azure-pipeline-mvc.yml

Added " - Outline" to the names of button styles having xxx-outline classes to distinguish in the CKEditor
  Njh_Admin/CMS/CMSAdminControls/CKeditor/styles.js
Due: azure-pipelines-cms.yml

Merged PR 4940: NJHK13-375: Updated ckeditor toolbar and add button styles
  Njh_Admin/CMS/CMSAdminControls/CKeditor/config.js
  Njh_Admin/CMS/CMSAdminControls/CKeditor/styles.js
Due: azure-pipelines-cms.yml

work in progress - add markup from subpage__left-rail.html and add content from CMS page type fields.
  Njh_Site/Njh.Mvc/Views/Shared/PageTemplates/SubpageLeftNavTemplate.cshtml
Due: azure-pipeline-mvc.yml

tidy; remove page-builder-styles and scripts which are already applied in _Layout.cshtml when in Edit mode
  Njh_Site/Njh.Mvc/Views/Shared/PageTemplates/SubpageLeftNavTemplate.cshtml
Due: azure-pipeline-mvc.yml

WIP Footer FED
  .gitignore
  Njh_Site/.DS_Store
  Njh_Site/Njh.Mvc/wwwroot/.DS_Store
Due: azure-pipeline-mvc.yml

WIP Footer FED
  Njh_Site/Njh.Mvc/src/images/best-hospital.png
  Njh_Site/Njh.Mvc/src/images/facebook-f.svg
  Njh_Site/Njh.Mvc/src/images/linkedin-in.svg
  Njh_Site/Njh.Mvc/src/images/pinterest-p.svg
  Njh_Site/Njh.Mvc/src/images/twitter.svg
  Njh_Site/Njh.Mvc/src/images/youtube.svg
  Njh_Site/Njh.Mvc/src/js/template-subpage-left-rail.html
  Njh_Site/Njh.Mvc/src/static/app-footer.html
  Njh_Site/Njh.Mvc/src/styles/_app-footer.scss
  Njh_Site/Njh.Mvc/src/styles/components/_separated-list.scss
  Njh_Site/Njh.Mvc/src/styles/elements/_icons.scss
  Njh_Site/Njh.Mvc/src/styles/mixins/_globals.scss
  Njh_Site/Njh.Mvc/wwwroot/dist/app.5d0e00e19111e3826817.js
  Njh_Site/Njh.Mvc/wwwroot/dist/app.8c726f66b7bd6472963d.js
  Njh_Site/Njh.Mvc/wwwroot/dist/app.9b9164b3c95f166ae99b.css
  Njh_Site/Njh.Mvc/wwwroot/dist/app.a32e62b4a42508084d3f.css
  Njh_Site/Njh.Mvc/wwwroot/dist/elements.html
  Njh_Site/Njh.Mvc/wwwroot/dist/index.html
  Njh_Site/Njh.Mvc/wwwroot/dist/subpage__left-rail.html
  Njh_Site/Njh.Mvc/wwwroot/dist/subpage__no-rail.html
  Njh_Site/Njh.Mvc/wwwroot/dist/widget-zones.html
Due: azure-pipeline-mvc.yml

The <main> container is now applied in each template, not in master layout
  Njh_Site/Njh.Mvc/PageTemplates/LandingPage/_LandingPageTemplate.cshtml
  Njh_Site/Njh.Mvc/Views/Shared/PageTemplates/SubpageLeftNavTemplate.cshtml
  Njh_Site/Njh.Mvc/Views/Shared/_Layout.cshtml
Due: azure-pipeline-mvc.yml

fix wrong field names for public-viewable Reviewer information
  Njh_Site/Njh.Mvc/Views/Shared/PageTemplates/SubpageLeftNavTemplate.cshtml
Due: azure-pipeline-mvc.yml

BED Nav Services and Views
  Njh_Shared/Njh.Kernel/Constants/DataCacheKeys.cs
  Njh_Shared/Njh.Kernel/Constants/DummyCacheKeys.cs
  Njh_Shared/Njh.Kernel/Definitions/HeaderNavType.cs
  Njh_Shared/Njh.Kernel/Extensions/SettingsKeyRepositoryExtensions.cs
  Njh_Shared/Njh.Kernel/Extensions/TreeNodeDocumentQueryExtensions.cs
  Njh_Shared/Njh.Kernel/Extensions/TreeNodeExtensions.cs
  Njh_Shared/Njh.Kernel/Kentico/Models/PageTypes/PageType_CTAItem.generated.cs
  Njh_Shared/Njh.Kernel/Kentico/Models/PageTypes/PageType_NavItem.generated.cs
  Njh_Shared/Njh.Kernel/Kentico/Models/PageTypes/PageType_Page.generated.cs
  Njh_Shared/Njh.Kernel/Models/CacheParameters.cs
  Njh_Shared/Njh.Kernel/Models/DTOs/CTAItem.cs
  Njh_Shared/Njh.Kernel/Models/DTOs/HeaderDto.cs
  Njh_Shared/Njh.Kernel/Models/DTOs/LinkItem.cs
  Njh_Shared/Njh.Kernel/Models/DTOs/NavItem.cs
  Njh_Shared/Njh.Kernel/Njh.Kernel.csproj
  Njh_Shared/Njh.Kernel/Services/ICacheService.cs
  Njh_Shared/Njh.Kernel/Services/IDocumentService.cs
  Njh_Shared/Njh.Kernel/Services/INavigationService.cs
  Njh_Shared/Njh.Kernel/Services/IPageService.cs
  Njh_Shared/Njh.Kernel/Services/IPageTypeService.cs
  Njh_Shared/Njh.Kernel/Services/NavigationService.cs
  Njh_Shared/Njh.Kernel/Services/PageService.cs
  Njh_Site/Njh.Mvc/Models/HeaderDto.cs
  Njh_Site/Njh.Mvc/ViewComponents/Master/HeaderViewComponent.cs
  Njh_Site/Njh.Mvc/ViewComponents/Navigation/MainNavViewComponent.cs
  Njh_Site/Njh.Mvc/ViewComponents/Navigation/UtilityNavViewComponent.cs
  Njh_Site/Njh.Mvc/Views/Shared/Master/_Header.cshtml
  Njh_Site/Njh.Mvc/Views/Shared/Navigation/_MainNav.cshtml
  Njh_Site/Njh.Mvc/Views/Shared/Navigation/_UtilityNav.cshtml
  Njh_Site/Njh.Mvc/Views/Shared/_Layout.cshtml
Due: azure-pipeline-mvc.yml, azure-pipelines-cms.yml

NJHK13-332: Froala configuration
  Njh_Site/Njh.Mvc/Views/Shared/_Layout.cshtml
  Njh_Site/Njh.Mvc/wwwroot/Content/InlineEditors/froala-configuration.js
  Njh_Site/Njh.Mvc/wwwroot/Content/InlineEditors/froala-editor-styles.css
Due: azure-pipeline-mvc.yml

FED Complete
  Njh_Site/Njh.Mvc/src/static/app-footer.html
  Njh_Site/Njh.Mvc/src/styles/_app-footer.scss
  Njh_Site/Njh.Mvc/src/styles/elements/_buttons.scss
  Njh_Site/Njh.Mvc/wwwroot/dist/elements.html
  Njh_Site/Njh.Mvc/wwwroot/dist/index.html
  Njh_Site/Njh.Mvc/wwwroot/dist/subpage__left-rail.html
  Njh_Site/Njh.Mvc/wwwroot/dist/subpage__no-rail.html
  Njh_Site/Njh.Mvc/wwwroot/dist/widget-zones.html
Due: azure-pipeline-mvc.yml

WIP Left Rail Nav
  Njh_Site/Njh.Mvc/src/js/app.js
  Njh_Site/Njh.Mvc/src/static/components/_config.js
  Njh_Site/Njh.Mvc/src/static/components/subpage-aside.html
  Njh_Site/Njh.Mvc/src/styles/app.scss
  Njh_Site/Njh.Mvc/wwwroot/dist/app.5d0e00e19111e3826817.js
  Njh_Site/Njh.Mvc/wwwroot/dist/app.8c726f66b7bd6472963d.js
  Njh_Site/Njh.Mvc/wwwroot/dist/app.9b9164b3c95f166ae99b.css
  Njh_Site/Njh.Mvc/wwwroot/dist/app.9f9ace35ead306c1131c.css
  Njh_Site/Njh.Mvc/wwwroot/dist/app.a32e62b4a42508084d3f.css
  Njh_Site/Njh.Mvc/wwwroot/dist/app.f6e0a53f26ec6ae0d06f.js
  Njh_Site/Njh.Mvc/wwwroot/dist/elements.html
  Njh_Site/Njh.Mvc/wwwroot/dist/index.html
  Njh_Site/Njh.Mvc/wwwroot/dist/subpage__left-rail.html
  Njh_Site/Njh.Mvc/wwwroot/dist/subpage__no-rail.html
  Njh_Site/Njh.Mvc/wwwroot/dist/widget-zones.html
Due: azure-pipeline-mvc.yml

Reverse order of content and aside.
  Njh_Site/Njh.Mvc/src/static/components/subpage-aside.html
  Njh_Site/Njh.Mvc/src/static/components/subpage-content.html
  Njh_Site/Njh.Mvc/wwwroot/dist/subpage__left-rail.html
  Njh_Site/Njh.Mvc/wwwroot/dist/subpage__no-rail.html
Due: azure-pipeline-mvc.yml

HTML Structure
  Njh_Site/Njh.Mvc/src/static/components/subpage-aside.html
  Njh_Site/Njh.Mvc/wwwroot/dist/subpage__left-rail.html
Due: azure-pipeline-mvc.yml

add header html markup
  Njh_Shared/Njh.Kernel/Extensions/SettingsKeyRepositoryExtensions.cs
  Njh_Shared/Njh.Kernel/Kentico/Models/CustomTables/CustomTable_SearchQuickLinksItem.cs
  Njh_Shared/Njh.Kernel/Models/AppCacheConfig.cs
  Njh_Shared/Njh.Kernel/Models/IConfig.cs
  Njh_Shared/Njh.Kernel/Repositories/CustomTableRepository.cs
  Njh_Shared/Njh.Kernel/Repositories/ICustomTableRepository.cs
  Njh_Shared/Njh.Kernel/Services/CacheService.cs
  Njh_Site/Njh.Mvc/Models/HeaderDto.cs
  Njh_Site/Njh.Mvc/Models/QuickNavDto.cs
  Njh_Site/Njh.Mvc/Models/UtilityNavDto.cs
  Njh_Site/Njh.Mvc/Startup.cs
  Njh_Site/Njh.Mvc/ViewComponents/Master/HeaderViewComponent.cs
  Njh_Site/Njh.Mvc/ViewComponents/Navigation/QuickNavViewComponent.cs
  Njh_Site/Njh.Mvc/ViewComponents/Navigation/UtilityNavViewComponent.cs
  Njh_Site/Njh.Mvc/Views/Shared/Master/_Header.cshtml
  Njh_Site/Njh.Mvc/Views/Shared/Master/_MobileHeader.cshtml
  Njh_Site/Njh.Mvc/Views/Shared/Navigation/_MobileMainNav.cshtml
  Njh_Site/Njh.Mvc/Views/Shared/Navigation/_MobileQuickNav.cshtml
  Njh_Site/Njh.Mvc/Views/Shared/Navigation/_MobileUtilityNav.cshtml
  Njh_Site/Njh.Mvc/Views/Shared/Navigation/_QuickNav.cshtml
  Njh_Site/Njh.Mvc/Views/Shared/Navigation/_UtilityNav.cshtml
  Njh_Site/Njh.Mvc/Views/_ViewImports.cshtml
Due: azure-pipeline-mvc.yml, azure-pipelines-cms.yml

Merge
  Njh_Shared/Njh.Kernel/Repositories/CustomTableRepository.cs
  Njh_Site/Njh.Mvc/Views/_ViewImports.cshtml
Due: azure-pipeline-mvc.yml, azure-pipelines-cms.yml

in progress (barely started) stub in classes for Physician page type
  Njh_Shared/Njh.Kernel/Kentico/Models/PageTypes/PageType_Physician.generated.cs
  Njh_Shared/Njh.Kernel/Models/DTOs/Physician.cs
  Njh_Shared/Njh.Kernel/Njh.Kernel.csproj
  Njh_Shared/Njh.Kernel/Services/IPhysicianService.cs
  Njh_Shared/Njh.Kernel/Services/PhysicianService.cs
Due: azure-pipeline-mvc.yml, azure-pipelines-cms.yml

NJHK13-310: Add subpage template, extension methods and generated page type code.
  Njh_Shared/Njh.Kernel/Extensions/TreeNodeExtensions.cs
  Njh_Shared/Njh.Kernel/Kentico/Models/PageTypes/PageType_Page.generated.cs
  Njh_Shared/Njh.Kernel/Njh.Kernel.csproj
  Njh_Site/Njh.Mvc/Controllers/PageTemplateRegister.cs
  Njh_Site/Njh.Mvc/Models/PageTemplateProperties/PageTemplatePropertiesBase.cs
  Njh_Site/Njh.Mvc/Models/PageTemplateProperties/SubPageTemplateProperties.cs
  Njh_Site/Njh.Mvc/Njh.Mvc.csproj
  Njh_Site/Njh.Mvc/Views/Shared/PageTemplates/SubPageTemplate.cshtml
  Njh_Site/Njh.Mvc/Views/Shared/_Layout.cshtml
  Njh_Site/Njh.Mvc/Views/_ViewImports.cshtml
Due: azure-pipeline-mvc.yml, azure-pipelines-cms.yml

Styling WIP
  Njh_Site/Njh.Mvc/src/images/chevron-right-solid.svg
  Njh_Site/Njh.Mvc/src/static/components/subpage-aside.html
  Njh_Site/Njh.Mvc/src/styles/app.scss
  Njh_Site/Njh.Mvc/src/styles/components/_subpage-aside-nav.scss
  Njh_Site/Njh.Mvc/src/styles/elements/_icons.scss
  Njh_Site/Njh.Mvc/wwwroot/dist/app.37a197f137d8737eda25.css
  Njh_Site/Njh.Mvc/wwwroot/dist/app.9f9ace35ead306c1131c.css
  Njh_Site/Njh.Mvc/wwwroot/dist/elements.html
  Njh_Site/Njh.Mvc/wwwroot/dist/index.html
  Njh_Site/Njh.Mvc/wwwroot/dist/subpage__left-rail.html
  Njh_Site/Njh.Mvc/wwwroot/dist/subpage__no-rail.html
  Njh_Site/Njh.Mvc/wwwroot/dist/widget-zones.html
Due: azure-pipeline-mvc.yml

FED Complete
  .gitignore
  Njh_Site/._.DS_Store
  Njh_Site/Njh.Mvc/src/NJH_FrontEnd.code-workspace
  Njh_Site/Njh.Mvc/src/static/components/subpage-aside.html
  Njh_Site/Njh.Mvc/src/styles/components/_subpage-aside-nav.scss
  Njh_Site/Njh.Mvc/src/styles/templates/_subpage.scss
  Njh_Site/Njh.Mvc/wwwroot/dist/app.37a197f137d8737eda25.css
  Njh_Site/Njh.Mvc/wwwroot/dist/app.f6e0a53f26ec6ae0d06f.js
  Njh_Site/Njh.Mvc/wwwroot/dist/elements.html
  Njh_Site/Njh.Mvc/wwwroot/dist/index.html
  Njh_Site/Njh.Mvc/wwwroot/dist/subpage__left-rail.html
  Njh_Site/Njh.Mvc/wwwroot/dist/subpage__no-rail.html
  Njh_Site/Njh.Mvc/wwwroot/dist/widget-zones.html
Due: azure-pipeline-mvc.yml

fix typo: Razor syntax & extra "is-current" in class. Also used double-quotes and removed whitespace.
  Njh_Site/Njh.Mvc/Views/Shared/Navigation/_MainNav.cshtml
Due: azure-pipeline-mvc.yml

NJHK13-460:removed unused code
  Njh_Shared/Njh.Kernel/Extensions/TreeNodeExtensions.cs
Due: azure-pipeline-mvc.yml, azure-pipelines-cms.yml

Merged PR 4945: Main Nav Mobile + Desktop
  Njh_Shared/Njh.Kernel/Definitions/HeaderNavType.cs
  Njh_Shared/Njh.Kernel/Extensions/SettingsKeyRepositoryExtensions.cs
  Njh_Shared/Njh.Kernel/Extensions/TreeNodeDocumentQueryExtensions.cs
  Njh_Shared/Njh.Kernel/Extensions/TreeNodeExtensions.cs
  Njh_Shared/Njh.Kernel/Kentico/Models/CustomTables/CustomTable_SearchQuickLinksItem.cs
  Njh_Shared/Njh.Kernel/Kentico/Models/PageTypes/PageType_CTAItem.generated.cs
  Njh_Shared/Njh.Kernel/Kentico/Models/PageTypes/PageType_NavItem.generated.cs
  Njh_Shared/Njh.Kernel/Kentico/Models/PageTypes/PageType_Page.generated.cs
  Njh_Shared/Njh.Kernel/Models/DTOs/CTAItem.cs
  Njh_Shared/Njh.Kernel/Models/DTOs/HeaderDto.cs
  Njh_Shared/Njh.Kernel/Models/DTOs/LinkItem.cs
  Njh_Shared/Njh.Kernel/Models/DTOs/NavItem.cs
  Njh_Shared/Njh.Kernel/Njh.Kernel.csproj
  Njh_Shared/Njh.Kernel/Repositories/CustomTableRepository.cs
  Njh_Shared/Njh.Kernel/Services/IDocumentService.cs
  Njh_Shared/Njh.Kernel/Services/INavigationService.cs
  Njh_Shared/Njh.Kernel/Services/IPageService.cs
  Njh_Shared/Njh.Kernel/Services/IPageTypeService.cs
  Njh_Shared/Njh.Kernel/Services/NavigationService.cs
  Njh_Shared/Njh.Kernel/Services/PageService.cs
  Njh_Site/Njh.Mvc/Models/HeaderDto.cs
  Njh_Site/Njh.Mvc/Models/QuickNavDto.cs
  Njh_Site/Njh.Mvc/Models/UtilityNavDto.cs
  Njh_Site/Njh.Mvc/ViewComponents/Master/HeaderViewComponent.cs
  Njh_Site/Njh.Mvc/ViewComponents/Navigation/MainNavViewComponent.cs
  Njh_Site/Njh.Mvc/ViewComponents/Navigation/QuickNavViewComponent.cs
  Njh_Site/Njh.Mvc/ViewComponents/Navigation/UtilityNavViewComponent.cs
  Njh_Site/Njh.Mvc/Views/Shared/Master/_Header.cshtml
  Njh_Site/Njh.Mvc/Views/Shared/Master/_MobileHeader.cshtml
  Njh_Site/Njh.Mvc/Views/Shared/Navigation/_MainNav.cshtml
  Njh_Site/Njh.Mvc/Views/Shared/Navigation/_MobileMainNav.cshtml
  Njh_Site/Njh.Mvc/Views/Shared/Navigation/_MobileQuickNav.cshtml
  Njh_Site/Njh.Mvc/Views/Shared/Navigation/_MobileUtilityNav.cshtml
  Njh_Site/Njh.Mvc/Views/Shared/Navigation/_QuickNav.cshtml
  Njh_Site/Njh.Mvc/Views/Shared/Navigation/_UtilityNav.cshtml
  Njh_Site/Njh.Mvc/Views/Shared/_Layout.cshtml
  Njh_Site/Njh.Mvc/Views/_ViewImports.cshtml
Due: azure-pipeline-mvc.yml, azure-pipelines-cms.yml

Merged PR 4948: Rich Text Component (Froala)- Purple Theme - Block Quote text fails accessibility
  Njh_Site/._.DS_Store
  Njh_Site/Njh.Mvc/src/static/components/elements--typography.html
  Njh_Site/Njh.Mvc/src/static/components/subpage-content.html
  Njh_Site/Njh.Mvc/src/styles/_global.scss
  Njh_Site/Njh.Mvc/src/styles/app.scss
  Njh_Site/Njh.Mvc/src/styles/components/_blockquote.scss
  Njh_Site/Njh.Mvc/wwwroot/dist/app.5d0e00e19111e3826817.js
  Njh_Site/Njh.Mvc/wwwroot/dist/app.8c726f66b7bd6472963d.js
  Njh_Site/Njh.Mvc/wwwroot/dist/app.9b9164b3c95f166ae99b.css
  Njh_Site/Njh.Mvc/wwwroot/dist/app.a32e62b4a42508084d3f.css
  Njh_Site/Njh.Mvc/wwwroot/dist/elements.html
  Njh_Site/Njh.Mvc/wwwroot/dist/index.html
  Njh_Site/Njh.Mvc/wwwroot/dist/subpage__left-rail.html
  Njh_Site/Njh.Mvc/wwwroot/dist/subpage__no-rail.html
  Njh_Site/Njh.Mvc/wwwroot/dist/widget-zones.html
Due: azure-pipeline-mvc.yml

NJHK13-310: physician service
  Njh_Shared/Njh.Kernel/Common/PageType.cs
  Njh_Shared/Njh.Kernel/Extensions/PageType_PageExtension.cs
  Njh_Shared/Njh.Kernel/Kentico/Models/PageTypes/PageType_Physician.generated.cs
  Njh_Shared/Njh.Kernel/Models/Dto/Reviewer.cs
  Njh_Shared/Njh.Kernel/Services/IPhysicianService.cs
  Njh_Shared/Njh.Kernel/Services/PhysicianService..cs
  Njh_Site/Njh.Mvc/Njh.Mvc.csproj
  Njh_Site/Njh.Mvc/wwwroot/dist/app.5d0e00e19111e3826817.js
  Njh_Site/Njh.Mvc/wwwroot/dist/app.8c726f66b7bd6472963d.js
  Njh_Site/Njh.Mvc/wwwroot/dist/app.9b9164b3c95f166ae99b.css
  Njh_Site/Njh.Mvc/wwwroot/dist/app.a32e62b4a42508084d3f.css
  Njh_Site/Njh.Mvc/wwwroot/dist/elements.html
  Njh_Site/Njh.Mvc/wwwroot/dist/index.html
  Njh_Site/Njh.Mvc/wwwroot/dist/subpage__left-rail.html
  Njh_Site/Njh.Mvc/wwwroot/dist/subpage__no-rail.html
  Njh_Site/Njh.Mvc/wwwroot/dist/widget-zones.html
Due: azure-pipeline-mvc.yml, azure-pipelines-cms.yml

NJHK13-692: Add H1 to list
  Njh_Site/Njh.Mvc/wwwroot/Content/InlineEditors/froala-configuration.js
  Njh_Site/Njh.Mvc/wwwroot/Content/InlineEditors/froala-editor-styles.css
Due: azure-pipeline-mvc.yml

NJHK13-693: update default enter behavior to <p>
  Njh_Admin/CMS/CMSAdminControls/CKeditor/config.js
  Njh_Site/Njh.Mvc/wwwroot/Content/InlineEditors/froala-configuration.js
Due: azure-pipeline-mvc.yml, azure-pipelines-cms.yml

Merged PR 4954: Delete files from /dist, removed .DS_Store file and update gitignore
  .gitignore
  Njh_Site/Njh.Mvc/wwwroot/.DS_Store
Due: azure-pipeline-mvc.yml

Add external link icon, also changes buttons to match color when external link present.
  Njh_Site/Njh.Mvc/wwwroot/dist/elements.html
  Njh_Site/Njh.Mvc/wwwroot/dist/index.html
  Njh_Site/Njh.Mvc/wwwroot/dist/subpage__left-rail.html
  Njh_Site/Njh.Mvc/wwwroot/dist/subpage__no-rail.html
  Njh_Site/Njh.Mvc/wwwroot/dist/widget-zones.html
Due: azure-pipeline-mvc.yml

External link tweaks
  Njh_Site/Njh.Mvc/src/images/arrow-up-right-from-square-regular.svg
  Njh_Site/Njh.Mvc/src/js/utilities/external-link-class.js
  Njh_Site/Njh.Mvc/src/static/components/elements--backgrounds.html
  Njh_Site/Njh.Mvc/src/static/components/elements--typography.html
  Njh_Site/Njh.Mvc/src/styles/_app-main.scss
  Njh_Site/Njh.Mvc/src/styles/_global.scss
  Njh_Site/Njh.Mvc/src/styles/elements/_backgrounds.scss
  Njh_Site/Njh.Mvc/src/styles/elements/_icons.scss
  Njh_Site/Njh.Mvc/src/styles/mixins/_backgrounds.scss
  Njh_Site/Njh.Mvc/src/styles/mixins/_buttons.scss
  Njh_Site/Njh.Mvc/wwwroot/dist/app.5d0e00e19111e3826817.js
  Njh_Site/Njh.Mvc/wwwroot/dist/app.8c726f66b7bd6472963d.js
  Njh_Site/Njh.Mvc/wwwroot/dist/app.9b9164b3c95f166ae99b.css
  Njh_Site/Njh.Mvc/wwwroot/dist/app.a32e62b4a42508084d3f.css
Due: azure-pipeline-mvc.yml

NJHK13-310: Add reviewers service and physician service
  Njh_Shared/Njh.Kernel/Models/Dto/Reviewer.cs
  Njh_Shared/Njh.Kernel/Models/Dto/Reviewers.cs
  Njh_Shared/Njh.Kernel/Njh.Kernel.csproj
  Njh_Shared/Njh.Kernel/Services/IPhysicianService.cs
  Njh_Shared/Njh.Kernel/Services/IReviewerService.cs
  Njh_Shared/Njh.Kernel/Services/PhysicianService..cs
  Njh_Shared/Njh.Kernel/Services/PhysicianService.cs
  Njh_Shared/Njh.Kernel/Services/ReviewerService.cs
  Njh_Site/Njh.Mvc/Njh.Mvc.csproj
Due: azure-pipeline-mvc.yml, azure-pipelines-cms.yml

Path conditions:
  azure-pipeline-mvc.yml: any of: Njh_Site, Njh_Shared
  azure-pipelines-cms.yml: any of: Njh_Admin, Njh_Shared
